.menu{
  background: url("/assets/g404.png") no-repeat center center / cover;
}

.row-one {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row-two {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
