<div class="row-one hvr-float-shadow">
    <img (click)="top()" width="40%" height="40%" src="/assets/menu/top_grid.svg" alt="top">
</div>
<div class="row-two hvr-float-shadow">
    <img (click)="left()" width="40%" height="40%" src="/assets/menu/left_grid.svg" alt="left">
    <div class="hvr-float-shadow">
        <h1>0</h1>
    </div>
    <img (click)="right()" width="40%" height="40%" src="/assets/menu/right_grid.png" alt="rigth">
</div>
<div class="row-one hvr-float-shadow">
    <img (click)="botton()" width="40%" height="40%" src="/assets/menu/botton_grid.png" alt="botton">
</div>