<ion-content>
  <div class="content-header">
    <div style="padding: 20px; align-content: center; justify-content: center">
      <ion-img (click)="goBack()" src="/assets/path207.png"></ion-img>
    </div>
    <div class="logo-right">
      <div style="display: flex; padding: 10px;">
        <h3 class="text-registro">Experiencias</h3>
      </div>
      <div style="display: flex;">
        <ion-img src="/assets/path48.png"></ion-img>
      </div>
    </div>
  </div>
  <div class="logo-career">
    <ion-img style="width: 25%; height: 25%;" src="/assets/use468.png"></ion-img>
    <!--seleccion de experiencias-->
    <div style="text-align: center">
      <h2 class="text-subTitle">
        EXPERIENCIAS<br>
        RESERVADAS<br>
      </h2>
    </div>
  </div>
  <div class="notification-career">
    <div class="card-notification">
      <br>
      <ion-img style="width: 10%; height: 10%;" src="/assets/g1188.png"></ion-img>
      <br>
      <div class="text-notification">
        El diá, del evento tendrás buses<br>
        recorridos a todas las<br>
        experiencias entre los campus.<br>
        Solo sigue tus instrucciones<br>
        perzonalizadas en tu home page!
      </div>
      <br>
      <br>
    </div>
  </div>
</ion-content>