<!--
<ion-header class="master-header">
  <div class="header-conetent">
    <div class="header-home">
      <div class="logo-left">
        <ion-img style="width: 65%; height: 65%;" src="/assets/g1019.png"></ion-img>
      </div>
      <div class="logo-right">
        <div class="header-user">
          <div><br></div>
          <div class="heder-user-text">NOMBRE DE USUARIO</div>
        </div>
        <div style="padding-left: 5px;">
          <ion-img src="/assets/g1235.png"></ion-img>
        </div>
      </div>
    </div>
  </div>
</ion-header>
-->
<div class="master-header">
  <div class="header-conetent">
    <div class="header-home">
      <div class="logo-left">
        <ion-img style="width: 65%; height: 65%;" src="/assets/g1019.png"></ion-img>
      </div>
      <div class="logo-right">
        <div class="header-user">
          <div><br></div>
          <div class="heder-user-text">NOMBRE DE USUARIO</div>
        </div>
        <div style="padding-left: 5px;">
          <ion-img src="/assets/g1235.png"></ion-img>
        </div>
      </div>
    </div>
  </div>
</div>
<ion-content>
  <!--body-->
  <!--content menu-->
  <div class="content-home">
    <app-menu></app-menu>
  </div>
  <!--body-->
</ion-content>
<div class="master-footer">
  <div class="content-footer">
    <div class="footer-home">
      <div class="hvr-float-shadow">
        <img (click)="scanCode()" style="height: auto" src="/assets/g917.png" alt="qr">
      </div>
      <div style="padding: 10px"></div>
      <div class="hvr-float-shadow">
        <img style="height: auto" src="/assets/g1255.png" alt="qr">
      </div>
    </div>
  </div>
</div>
<!--
<ion-footer class="master-footer">
  <div class="content-footer">
    <div class="footer-home">
      <div class="hvr-float-shadow">
        <img (click)="scanCode()" style="height: auto" src="/assets/g917.png" alt="qr">
      </div>
      <div style="padding: 10px"></div>
      <div class="hvr-float-shadow">
        <img style="height: auto" src="/assets/g1255.png" alt="qr">
      </div>
    </div>
  </div>
</ion-footer>
-->